<h1 mat-dialog-title>Edit student data: <br> <strong>{{data.firstName}} {{data.lastName}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstName" placeholder="First Name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastName" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="data.email" type="email" placeholder="E-mail">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone" placeholder="Phone">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onYesClick()">Save</button>
</div>
