@import "variables";

.main-wrapper {
  height: 100%;

  &.dark-theme {
    background: $dark-theme-bg;
  }
}

.main-container {
  position: relative;
  left: 60px;
  width: calc(100% - 60px);
  margin: 0;
  height: 100%;
  padding: 0 3rem;
}
