<h1 mat-dialog-title>Are you sure you want to remove student?</h1>
<div mat-dialog-content>
  <h3>You are about to permanently delete <strong><em>{{data.student.firstName}}
        {{data.student.lastName}}</em>.</strong>
    <br>
    <strong>This cannot be undone!</strong>
  </h3>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">No</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data.student" cdkFocusInitial (click)="onYesClick()">Yes,
    I'm sure</button>
</div>
