<div class="sidebar">
  <div class="sidebar-container">
    <div class="app-logo">
      <div class="nav-item">
        <a [routerLink]="['/']" title="Logo">
          <img src="assets/img/logo.svg" width="20" alt="Logo" />
        </a>
      </div>
    </div>

    <div class="nav-item" *ngFor="let route of routes">
      <a [routerLink]="[route.path]" routerLinkActive="active" title="{{route.title}}">
        <mat-icon aria-hidden=" false" attr.aria-label="{{route.title}}">{{route.icon}}</mat-icon>
      </a>
    </div>

    <div class="nav-item toggle-theme">
      <div class="toggle-theme-nav-item" title="Toggle theme">
        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" (click)="onToggleTheme()">
          format_color_fill</mat-icon>
      </div>
    </div>

  </div>
</div>
