<div class="row">
  <div class="col-12">
    <h1 class="main-title">Courses</h1>
    <h2 class="sub-title">{{getSubtitle((courses$ | async))}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button mat-raised-button color="primary" (click)="addCourseDialog()" class="add-student-btn">Add Course</button>
    <app-courses-table [courses]="courses$ | async" *ngIf="(courses$ | async); else loading;"
      (removeCourse)="removeCourseDialog($event)" (editCourse)="editCourseDialog($event)">
    </app-courses-table>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
