<div class="row">
  <div class="col-12">
    <h1 class="main-title">{{(course$ | async)?.name}}</h1>
    <h2 class="sub-title">{{(course$ | async)?.date | date}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button *ngIf="(course$ | async) as course;" mat-raised-button color="primary"
      (click)="addStudentToCourseDialog(course)" class="add-course-btn">Add
      Student To Course</button>
    <app-course-table [students]="students$ | async" (removeStudent)="removeStudentDialog($event)"
      *ngIf="(students$ | async); else loading;">
    </app-course-table>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
