@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body,
html {
  color: $dark-theme-black;
  background: $alt-background;
  height: 100%;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
